{%extends "index.html" %} {%block content%}
<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="card" style="width: 40rem">
    <div class="card-body">
      <h5 class="card-title">5 day weather forecast</h5>
      <p class="card-text">
        5 day forecast is available at any location on the globe. It includes
        weather forecast data with 3-hour step.
      </p>
    </div>
  </div>
  <p>{{fiveDaysData['cod']}}</p>

  <div style="width: 40rem">
    <div class="accordion" id="accordionExample">
      {% for forecast in fiveDaysForecast%}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            {{forecast.dt_txt}}
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <div class="card-body d-flex justify-content-between">
              <ul class="list-group list-group-flush w-50 me-2">
                <li class="list-group-item d-flex justify-content-between">
                  <span>Min-Temperature </span
                  ><span>{{forecast.main.temp_min}}°C</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Max-Temperature </span
                  ><span>{{forecast.main.temp_max}}°C</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Pressure </span>
                  <span>{{forecast.main.pressure}}hPa</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Humidity </span>
                  <span>{{weatherData.main.humidity}}%</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Sea Level </span>
                  <span>{{forecast.main.sea_level}}hPa</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Ground Level</span>
                  <span>{{forecast.main.grnd_level}}hPa</span>
                </li>
                 
              </ul>

              <ul class="list-group list-group-flush w-50 ms-2">
                <li class="list-group-item d-flex justify-content-between">
                  <span>Visibility </span><span>{{forecast.visibility}} m </span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Wind Speed </span
                  ><span>{{forecast.wind.speed}} meter/sec </span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Wind Gust </span
                  ><span>{{forecast.wind.gust}} meter/sec </span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Weather</span>
                  <span>{{forecast.weather[0].description}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock%}
